<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wooble.wooble">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:hardwareAccelerated="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wooble"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.Project.Edit_Project_Activity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Resume.Resume_Viewer_Activity"
            android:exported="false"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Social_media_Activity"
            android:exported="false"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Project.Project_Viewer_Activity"
            android:exported="false"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Blogs.Blog_Viewer_Activity"
            android:exported="false"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Setting.End_User_License_AgreementActivity"
            android:exported="false"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Setting.Terms_and_conditions_Activity"
            android:exported="false"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Setting.Data_Privacy_Activity"
            android:exported="false"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Setting.Privacy_Policy_Activity"
            android:exported="false"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Setting.SettingActivity"
            android:exported="false"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Setting.Help_Center_Activity"
            android:exported="false"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Resume.UploadResumeActivity"
            android:exported="false"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Gallery.Gallery_Image_CropperActivity"
            android:exported="false"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CircularImageCropperActivity"
            android:exported="false"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.portfolio.Edit_Portfolio_Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Gallery.EditGalleryActivity"
            android:exported="false"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Gallery.Full_ImageActivity"
            android:exported="false"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Project.Upload_Project_Activity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Profile.Edit_Profile_Activity"
            android:exported="false"
            android:parentActivityName=".ui.Profile.Edit_Profile_Activity"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Profile.ProfileActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Gallery.ImageUploaderActivity"
            android:exported="false"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.portfolio.Create_Portfolio_Activity"
            android:exported="false"
            android:screenOrientation="locked"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.Blogs.Create_BlogsActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.credentials.Reset_PasswordActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.credentials.OtpActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.credentials.Forgot_PasswordActivity"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.credentials.SignupActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.credentials.LoginActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="locked"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>